<ul data-test='organization-sport-list'>
  {{#each model as |sport|}}
    <li>
      {{#link-to 'sport' sport.friendlyName}}
        {{sport.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{outlet}}
